*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  min-width: 480px;
  height: 100%;
}

html {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-size: .95rem;
  font-family: $font-primary, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
  line-height: 1.7;
  overflow-x: hidden;
  color: $color-dark;
  background-color: #fff;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: $mq-xsmall) {
  body { font-size: 90%; }
}

.container,
.container-wrapper {
  flex: 1;
  width: inherit;
}

.container {
  padding-top: 2em;
  padding-bottom: 1.5em;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

*::-moz-selection {
  color: $color-grey;
  background: $color-dark;
}

*::selection {
  color: $color-grey;
  background: $color-dark;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $color-purple;
}

small {
  font-size: .85rem;
}

ul li {
  list-style-type: none;
  padding: .2em 0;
}

.browserupgrade {
  margin: .2em 0;
  padding: .2em 0;
}

.no-js {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70%;
  padding: .4em 1em;
  text-align: center;
}

.container {
  padding-top: 90px;
}

.error__card {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
}
